.currentProp {
  border: none;
  background-color: white;
  font-size: 18px;
  color: rgb(231, 119, 90);
  border-bottom: 1px dashed rgb(231, 119, 90);
  cursor: pointer;
  margin: 0 5px;
}

.currentProp:hover {
  color: coral;
  border-bottom: 1px dashed coral;
}

.properties {
  position: relative;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.popup {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden; 
  top: 180%;
  z-index: 1;
}

.popupContent {
  overflow: hidden;
  outline: none;
  padding: 0;
}

.popupItem {
  padding: 12px 22px;
  cursor: pointer;
  list-style-type: none;
}

.popupItem:hover {
  color: coral;
  background: rgba(254, 95, 30, 0.05);
}

.deleteButton {
  background: none;
  border: none;
  height: 20px;
  width: 20px;
}

.deleteButton:hover {
  color: red;
  cursor: pointer;
}

.popupContainer {
  height: 300px;
  overflow-y: scroll;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}