.root {
  position: relative;
  left: 120px;
}

.loupeIcon {
  width: 20px;
  height: 20px;
  height: 22px;
  left: 14px;
  opacity: .3;
  position: absolute;
  top: 12px;
} 

input {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 12px 42px;
  width: 400px;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}
