.filters {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  align-items: center;
  font-size: 18px;
}

.buttons {
  display: flex;
  align-items: center;
  font-size: 18px;
}
